body {
  font-family: "Poppins", sans-serif;
  background-color: #000d13;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(/src/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 16px 32px;
  display: inline-block;
  margin-top: 32px;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #000d13;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.img-responsive {
  width: 100%;
  display: block;
}

.text-center {
  text-align: center;
}

.card {
  background-color: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 23px;
}

.card h4 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000d13;
}

.card p {
  font-size: 13px;
}

.card h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #000d13;
  margin: 0;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  color: white;
  background-color: #000d13;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  text-decoration: none;
}

.embed {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 13, 19, 0.7), rgba(0, 13, 19, 0.7)),
    url(/src/images/footerbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #f8f8f8;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.8;
}

/*media queries*/
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
